<%- include('./adminPartials/adminHeader.ejs') %>

<!-- User message start -->
<section class="message-list">

  <h1 class="section-title"><%= link=== 'message'? "User message": "Completed message"%></h1>
  <% for( message of messages ) { %>
  <div class="message-wrapper">
    <div class="message-left">
      <p>user name&nbsp;<strong><%=message.name %></strong></p>
      <p>user e-mail&nbsp;<strong><%= message.email %></strong></p>
      <p>user number&nbsp;<strong><%= message.phoneNumber %></strong></p>
    </div>
    <div class="message-right">
      <div class="message-right-top">
        <p>
          <strong>User massage&nbsp;</strong>
          <%= message.massage %>
        </p>
      </div>
      <% if (message.completed==0) { %>

      <div class="message-right-bottom">
        <a href="mailto:<%= message.email %>" class="btn">Answer</a>

        <div>
          <a class="btn" href="/admin/message/<%=message._id%>?_method=PUT"
            >Completed</a
          >
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <% } %>
</section>
<!-- User message end -->
